name: Test laravel application

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: checkout code
      uses: actions/checkout@v3
    - name: setup php
      uses: shivammathur/set-php@v2
      with:
        php-version: 8.3
    - name: composer install
      run: composer install --optimize-autoloader --no-dev --no-process --no-interatcion --prefer-dist
    - name: Install Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '22.13.1'
    - name: Install npm dependencies
      run: npm run build
    - name: Test the application
      run: php artisan test
